APP_NAME="QR Profile"
APP_ENV=production
APP_KEY=
APP_DEBUG=false

FRONTEND_PORT=8081
BACKEND_PORT=8001

APP_URL=http://130.61.130.230:8001
FRONTEND_URL=http://130.61.130.230:8081
CORS_ALLOWED_ORIGINS=http://130.61.130.230:8081

VITE_PUBLIC_APP_URL=http://130.61.130.230:8081
VITE_API_URL=http://130.61.130.230:8001/api

FRONTEND_IMAGE=noureddine10/qr-profile-frontend:latest
BACKEND_IMAGE=noureddine10/qr-profile-backend:latest

POSTGRES_DB=qr_profile
POSTGRES_USER=qr_user
POSTGRES_PASSWORD=change_me_strong_password

SANCTUM_STATEFUL_DOMAINS=130.61.130.230:8081

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
FILESYSTEM_DISK=local

AI_PROVIDER=local
AI_API_KEY=
AI_MODEL=gpt-4o-mini
AI_TIMEOUT=20

